<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="mainstyles.css" rel="stylesheet" />
    <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="app.js"></script>

    <meta charset="utf-8" />
    <title></title>

</head>
<body dir="rtl">
    <div></div>
    <div class="container div-height" ng-controller="baseController">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <p class="font-weight-light">מוצא</p>
                 <input type="text" ng-model="source" class="form-control" />
            </div>
            <div>
                <p class="font-weight-light">יעד</p>
                 <input type="text" ng-model="destination" class="form-control" />
            </div>
            <div>
               <p></p>
                <button type="button" class="btn-lg searc_button" ng-click="seatchDistance()">
                    <p class="font-weight-light search_text">הצג את המרחק</p></button>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</body>
</html>